@charset "UTF-8";
@import 'base.styl';

$color_main    = #7f95d1;
$color_success = #a0b4e5;
$color_nice    = #a2ea93;
$color_error   = #ff82a9;
$color_ui      = #bbb;

$input_color = #3b3b3b;
$input_bg    = #f3f3f3;

/*-------------------------------------------------------------------------
	Init
/*-----------------------------------------------------------------------*/
html,body {
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 16px;
}

[data-content] {
	display: none;
}

#all {
	width: 40rem;
}

.wrap {
	position: relative;
	padding: 2.5rem;
}

.window-ui {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	color: $color_ui;
	font-size: .8rem;
}

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
.header {
	margin-bottom: 1.4rem;
	.tab-navi {
		float: left;
		width: 87%;
		margin-top: -1rem;
	}
	.tab-controler {
		float: right;
		width: 8%;
		margin-right: 5%;
	}
	.page-tab {
		display: inline-block;
		position: relative;
		margin-top: 1rem;
		margin-right: 1rem;
		.name {
			padding: 0 .5rem .5rem;
			border-bottom: 2px solid transparent;
			color: #888;
			font-size: 1.1rem;
			font-family: 'Roboto',arial,sans-serif;
			letter-spacing: .1rem;
			line-height: 1rem;
		}
		.edit-name {
			display: none;
		}
		.delete {
			display: block;
			opacity: 0;
			position: absolute;
			top: -.5rem;
			right: -.5rem;
			padding: 0 0.2rem;
			cursor: pointer;
			transition: opacity .25s ease-in-out;
		}
		&.active {
			.name {
				border-bottom-color: $color_main;
				color: $color_main;
				cursor: text;
			}
		}
		&.edit {
			.name,.delete {
				display: none !important;
			}
			.edit-name {
				display: block;
			}
		}
		&:hover {
			.delete {
				display: block;
				opacity: 1;
			}
		}
	}
	.page-title {
		display: inline-block;
		color: #888;
		font-size: 1.1rem;
		font-family: 'Roboto',arial,sans-serif;
		letter-spacing: .1rem;
	}
}

/*-------------------------------------------------------------------------
	Input
/*-----------------------------------------------------------------------*/
.edit-name {
	padding: .3rem .5rem .2rem;
	border: none;
	color: $input_color;
	font-size: 1rem;
	transition: background-color .1s ease-in-out;
	&:focus {
		background-color: $input_bg;
	}
}

.input-setting {
	padding: .3rem .4rem;
	border: none;
	color: $input_color;
	font-size: 1rem;
	transition: background-color .1s ease-in-out;
	&:focus {
		background-color: $input_bg;
	}
}

/*-------------------------------------------------------------------------
	Button
/*-----------------------------------------------------------------------*/
.button-jump {
	position: relative;
	float: right;
	width: 1.5rem;
	height: 1.5rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	font-size: .8rem;
	transition: opacity .1s ease-in-out;
	&:hover {
		opacity: .8;
	}
	&[data-jump="setting"] {
		background-image: url('../img/icon/setting.png');
	}

	&[data-jump="memo"] {
		background-image: url('../img/icon/memo.png');
	}
}

.button-save {
	width: 7rem;
	margin-right: 1rem;
	padding: .4rem 1rem;
	border: 1px solid $color_main;
	border-radius: 2px;
	background-color: $color_main;
	color: #fff;
	font-size: .8rem;
	letter-spacing: .4rem;
	cursor: pointer;
	transition: all .1s ease-in-out;
	&:hover {
		background-color: #a0b4e5;
	}
	&:active {
		background-color: #4f68a8;
		letter-spacing: .1rem;
	}
	&:focus {
		border: 1px solid #4f68a8;
	}
}

.button-utils {
	width: 7rem;
	margin-right: 1rem;
	padding: .4rem 1rem;
	border: 1px solid $color_main;
	border-radius: 2px;
	background-color: $color_main;
	color: #fff;
	font-size: .8rem;
	letter-spacing: .4rem;
	cursor: pointer;
	transition: all .1s ease-in-out;
	&:hover {
		background-color: #a0b4e5;
	}
	&:active {
		background-color: #4f68a8;
		letter-spacing: .1rem;
	}
	&:focus {
		border: 1px solid #4f68a8;
	}
}

.button-switch {
	margin-right: .4rem;
	padding: .4rem .8rem;
	border: 1px solid $color_main;
	border-radius: 2px;
	background-color: $color_main;
	color: #fff;
	font-size: .8rem;
	text-align: center;
	cursor: pointer;
	transition: all .1s ease-in-out;
	&:hover {
		background-color: #a0b4e5;
	}
	&:active {
		background-color: #4f68a8;
	}
	&:focus {
		border: 1px solid #4f68a8;
	}
}

/*-------------------------------------------------------------------------
	Content
/*-----------------------------------------------------------------------*/
.content {
	margin-bottom: 2rem;
}

/*-------------------------------------------------------------------------
	Memo
/*-----------------------------------------------------------------------*/
[data-area_id] {
	display: none;
	&.active {
		display: block;
	}
}

.content-area {
	height: 20rem;
	border-radius: 2px;
}

.textarea {
	width: 100%;
	height: 100%;
	padding: 1rem;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	color: $input_color;
	font-size: 1rem;
	letter-spacing: .1rem;
	resize: none;
	transition: border .1s ease-in-out;
	background-color: $input_bg;
}

/*-------------------------------------------------------------------------
	Setting
/*-----------------------------------------------------------------------*/
.setting-list {
	li {
		margin-bottom: 2rem;
		&:last-child {
			margin-bottom: 0;
		}
		label {
			display: inline-block;
			border-bottom: 1px solid #cbd7f4;
			font-size: .8rem;
			line-height: 1;
		}
		p {
			color: $color_main;
		}
		input {
			margin-right: .5rem;
		}
	}
}

/*-------------------------------------------------------------------------
	Setting
/*-----------------------------------------------------------------------*/
#message {
	position: absolute;
	right: 4.6rem;
	bottom: 3rem;
	font-size: .8rem;
	p {
		position: relative;
		&.success {
			color: $color_success;
		}
		&.nice {
			color: $color_nice;
		}
		&.error {
			color: $color_error;
		}
	}
}

/*-------------------------------------------------------------------------
	Modalwindow
/*-----------------------------------------------------------------------*/
#modalwindow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.background {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.6);
	}
	.modalwindow-content {
		position: absolute;
		left: 0;
		right: 0;
		width: 60%;
		margin: auto;
		border-radius: 2px;
		background-color: #fff;
		.button-close {
			position: absolute;
			top: 1.5rem;
			right: 1.5rem;
			color: $color_ui;
			font-size: .8rem;
		}
		.modalwindow-field {
			padding: 2rem;
		}
		.title {
			margin-bottom: .5rem;
			font-size: 1.2rem;
			font-weight: bold;
			text-align: center;
		}
		.text {
			font-size: .9rem;
			text-align: center;
		}
		.judge {
			margin-top: 2rem;
			text-align: center;
			button {
				margin: 0 1rem;
				padding: .2rem 1rem;
				font-size: 1rem;
			}
		}
	}
}
