@charset "UTF-8";

$color_main    = #7f95d1;
$color_success = #a0b4e5;
$color_nice    = #a2ea93;
$color_error   = #ff82a9;
$color_ui      = #bbb;

$input_color = #3b3b3b;
$input_bg    = #f3f3f3;

$root_image_path = '../img/';

@import 'base.styl';

/*-------------------------------------------------------------------------
	Init
/*-----------------------------------------------------------------------*/
html,body {
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 16px;
}

[data-content] {
	display: none;
}

#all {
	width: 40rem;
}

.wrap {
	position: relative;
	padding: 2.5rem;
}

.window-ui {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	color: $color_ui;
	font-size: .8rem;
}

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
@import 'header.styl';

/*-------------------------------------------------------------------------
	Input
/*-----------------------------------------------------------------------*/
.edit-name {
	padding: .3rem .5rem .2rem;
	border: none;
	color: $input_color;
	font-size: 1rem;
	transition: background-color .1s ease-in-out;
	&:focus {
		background-color: $input_bg;
	}
}

.input-setting {
	padding: .3rem .4rem;
	border: none;
	color: $input_color;
	font-size: 1rem;
	transition: background-color .1s ease-in-out;
	&:focus {
		background-color: $input_bg;
	}
}

/*-------------------------------------------------------------------------
	Button
/*-----------------------------------------------------------------------*/
.button-jump {
	position: relative;
	float: right;
	width: 1.5rem;
	height: 1.5rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	font-size: .8rem;
	transition: opacity .1s ease-in-out;
	&:hover {
		opacity: .8;
	}
	&[data-jump="setting"] {
		background-image: url($root_image_path + 'icon/setting.png');
	}

	&[data-jump="memo"] {
		background-image: url($root_image_path + 'icon/memo.png');
	}
}

.button-save {
	width: 7rem;
	margin-right: 1rem;
	padding: .4rem 1rem;
	border: 1px solid $color_main;
	border-radius: 2px;
	background-color: $color_main;
	color: #fff;
	font-size: .8rem;
	letter-spacing: .4rem;
	cursor: pointer;
	transition: all .1s ease-in-out;
	&:hover {
		background-color: $color_success;
	}
	&:active {
		background-color: #4f68a8;
		letter-spacing: .1rem;
	}
	&:focus {
		border: 1px solid #4f68a8;
	}
}

.button-utils {
	width: 7rem;
	margin-right: 1rem;
	padding: .4rem 1rem;
	border: 1px solid $color_main;
	border-radius: 2px;
	background-color: $color_main;
	color: #fff;
	font-size: .8rem;
	letter-spacing: .4rem;
	cursor: pointer;
	transition: all .1s ease-in-out;
	&:hover {
		background-color: $color_success;
	}
	&:active {
		background-color: #4f68a8;
		letter-spacing: .1rem;
	}
	&:focus {
		border: 1px solid #4f68a8;
	}
}

.button-switch {
	margin-right: .4rem;
	padding: .4rem .8rem;
	border: 1px solid $color_main;
	border-radius: 2px;
	background-color: $color_main;
	color: #fff;
	font-size: .8rem;
	text-align: center;
	cursor: pointer;
	transition: all .1s ease-in-out;
	&:hover {
		background-color: $color_success;
	}
	&:active {
		background-color: #4f68a8;
	}
	&:focus {
		border: 1px solid #4f68a8;
	}
}

/*-------------------------------------------------------------------------
	Content
/*-----------------------------------------------------------------------*/
.content {
	margin-bottom: 2rem;
}

/*-------------------------------------------------------------------------
	Memo
/*-----------------------------------------------------------------------*/
[data-area_id] {
	display: none;
	&.active {
		display: block;
	}
}

.content-area {
	height: 20rem;
	border-radius: 2px;
}

.textarea {
	width: 100%;
	height: 100%;
	padding: 1rem;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	color: $input_color;
	font-size: 1rem;
	letter-spacing: .1rem;
	resize: none;
	transition: border .1s ease-in-out;
	background-color: $input_bg;
}

/*-------------------------------------------------------------------------
	Setting
/*-----------------------------------------------------------------------*/
.setting-list {
	li {
		margin-bottom: 2rem;
		&:last-child {
			margin-bottom: 0;
		}
		label {
			display: inline-block;
			border-bottom: 1px solid #cbd7f4;
			font-size: .8rem;
			line-height: 1;
		}
		p {
			color: $color_main;
		}
		input {
			margin-right: .5rem;
		}
	}
}

/*-------------------------------------------------------------------------
	Setting
/*-----------------------------------------------------------------------*/
#message {
	position: absolute;
	right: 4.6rem;
	bottom: 3rem;
	font-size: .8rem;
	p {
		position: relative;
		&.success {
			color: $color_success;
		}
		&.nice {
			color: $color_nice;
		}
		&.error {
			color: $color_error;
		}
	}
}

/*-------------------------------------------------------------------------
	Modalwindow
/*-----------------------------------------------------------------------*/
@import 'modalwindow.styl';
