@charset "UTF-8";
@import url('base.css');

/*#7f95d1
#ff82a9
#ffc0be
#ffebe7*/

/*-------------------------------------------------------------------------
	Init
/*-----------------------------------------------------------------------*/
html {
	font-size: 16px;
}

[data-content] {
	display: none;
}

#all {
	width: 40rem;
}

.wrap {
	position: relative;
	padding: 2.5rem;
}

#button-close {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	color: #bbb;
	font-size: .8rem;
}

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
.header {
	margin-bottom: 1.4rem;
}

	.header .page-tab {
		display: inline-block;
		margin-top: 1rem;
		margin-right: 1rem;
		padding: 0 .5rem .5rem;
		border-bottom: 2px solid transparent;
		color: #888;
		font-size: 1.1rem;
		font-family: 'Roboto',arial,sans-serif;
		letter-spacing: .1rem;
		line-height: 1rem;
	}

	.header .page-tab.active {
		border-bottom-color: #7f95d1;
		color: #7f95d1;
		cursor: text;
	}

	.header .page-tab.edit {
		padding: 0;
		font-size: 1rem;
	}

	.header .page-title {
		display: inline-block;
		color: #888;
		font-size: 1.1rem;
		font-family: 'Roboto',arial,sans-serif;
		letter-spacing: .1rem;
	}

.tab-navi {
	float: left;
	width: 78%;
	margin-top: -1rem;
}

.tab-controler {
	float: right;
	width: 17%;
	margin-right: 5%;
}

/*-------------------------------------------------------------------------
	Input
/*-----------------------------------------------------------------------*/
.edit-name {
	padding: .3rem .5rem .2rem;
	border: none;
	font-size: 1rem;
	transition: background-color .1s ease-in-out;
}

.edit-name:focus {
	background-color: #f3f3f3;
}

.input-setting {
	padding: .3rem .4rem;
	border: none;
	font-size: 1rem;
	transition: background-color .1s ease-in-out;
}

.input-setting:focus {
	background-color: #f3f3f3;
}

/*-------------------------------------------------------------------------
	Button
/*-----------------------------------------------------------------------*/
.button-jump {
	position: relative;
	float: right;
	width: 1.5rem;
	height: 1.5rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	font-size: .8rem;
	transition: opacity .1s ease-in-out;
}

.button-jump:hover {
	opacity: .8;
}

.button-jump[data-jump="setting"] {
	background-image: url('../img/icon/setting.png');
}

.button-jump[data-jump="memo"] {
	background-image: url('../img/icon/memo.png');
}

.button-save {
	width: 7rem;
	margin-right: 1rem;
	padding: .4rem 1rem;
	border: 1px solid #7f95d1;
	border-radius: 2px;
	background-color: #7f95d1;
	color: #fff;
	font-size: .8rem;
	letter-spacing: .4rem;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

.button-save:hover {
	background-color: #a0b4e5;
}

.button-save:active {
	background-color: #4f68a8;
	letter-spacing: .1rem;
}

.button-save:focus {
	border: 1px solid #4f68a8;
}

.button-utils {
	width: 7rem;
	margin-right: 1rem;
	padding: .4rem 1rem;
	border: 1px solid #7f95d1;
	border-radius: 2px;
	background-color: #7f95d1;
	color: #fff;
	font-size: .8rem;
	letter-spacing: .4rem;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

.button-utils:hover {
	background-color: #a0b4e5;
}

.button-utils:active {
	background-color: #4f68a8;
	letter-spacing: .1rem;
}

.button-utils:focus {
	border: 1px solid #4f68a8;
}

.button-switch {
	margin-right: .4rem;
	padding: .4rem .8rem;
	border: 1px solid #7f95d1;
	border-radius: 2px;
	background-color: #7f95d1;
	color: #fff;
	font-size: .8rem;
	text-align: center;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

.button-switch:hover {
	background-color: #a0b4e5;
}

.button-switch:active {
	background-color: #4f68a8;
}

.button-switch:focus {
	border: 1px solid #4f68a8;
}

/*-------------------------------------------------------------------------
	Content
/*-----------------------------------------------------------------------*/
.content {
	margin-bottom: 2rem;
}

/*-------------------------------------------------------------------------
	Memo
/*-----------------------------------------------------------------------*/
[data-area_id] {
	display: none;
}

[data-area_id].active {
	display: block;
}

.content-area {
	height: 20rem;
	border-radius: 2px;
}

.textarea {
	width: 100%;
	height: 100%;
	padding: .3rem .4rem;
	border: 1px solid #cbd7f4;
	box-sizing: border-box;
	color: #3b3b3b;
	font-size: 1rem;
	letter-spacing: .1rem;
	resize: none;
	transition: border .1s ease-in-out;
}

.textarea:focus {
	border: 1px solid #7f95d1;
	background-color: #fbfbfb;
}

/*-------------------------------------------------------------------------
	Setting
/*-----------------------------------------------------------------------*/
.setting-list {
}

	.setting-list li {
		margin-bottom: 2rem;
	}

	.setting-list li:last-child {
		margin-bottom: 0;
	}

		.setting-list li label {
			display: inline-block;
			border-bottom: 1px solid #cbd7f4;
			font-size: .8rem;
			line-height: 1;
		}

		.setting-list li p {
			color: #7f95d1;
		}

		.setting-list li input {
			margin-right: .5rem;
		}

/*-------------------------------------------------------------------------
	Setting
/*-----------------------------------------------------------------------*/
#message {
	position: absolute;
	right: 4.6rem;
	bottom: 3rem;
	font-size: .8rem;
}

	#message p {
		position: relative;
	}

	#message p.error {
		color: #ff82a9;
	}

	#message p.nice {
		color: #a2ea93;
	}

	#message p.success {
		color: #a0b4e5;
	}

/*-------------------------------------------------------------------------
	Modalwindow
/*-----------------------------------------------------------------------*/
#modalwindow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	#modalwindow .background {
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,.6);
	}

.modalwindow-content {
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 60%;
	margin: auto;
	border: 1px solid #7f95d1;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #fff;
}

	.modalwindow-field {
		padding: 2rem;
	}

	.modalwindow-content .title {
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
	}

	.modalwindow-content .text {
		font-size: 1rem;
		text-align: center;
	}
